{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "importOrder": ["^react(.*)", "<THIRD_PARTY_MODULES>", "antd/(.*)", "@/(.*)", "^[./]"],
  "importOrderSeparation": true,
  "endOfLine": "auto"
}
